/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.banner
{
  position: relative;
  top: 0;
  left: 0;
}
.profile
{
 
  position: absolute;
  top: 60px;
  left: 80px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tabsdemoCenterTabs md-tab-item {
  min-width: 72px;
}
@media (min-width: 960px) {
  .tabsdemoCenterTabs md-tab-item {
    min-width: 160px;
  }
}

.btnr {
  border-radius: 12px;
  border: 25px solid rgb(230, 176, 95);
}
.btnc {
  border-radius: 12px;
  border: 25px solid rgb(230, 176, 95);
  
  top: 0;
  right: 0;
}

.search {
  border-radius: 30px;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.divimage {
  background-image: url("../images/Frame 8850.png"); 
  background-color: #e06924; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}